@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
        
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    user-select: none;
    max-width: 1920px;
}

::-webkit-scrollbar {
    display: none;
}

.con {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.con2 {
    max-width: 720px;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.top_bar {
    height: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    top: 0px;
    position: sticky;
    background-color: rgba(255, 255, 255, 1);
    transition: all 0.2s;
}

.top_bar:hover {
    background-color: white;
}

.top_bar > .con > .logo {
    padding: 0 20px;   
}

.flex-grow {
    flex-grow: 1;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.top_bar > .con > .menu-1 > li:hover > .hovering {
    font-weight: bolder;
}

.now-on {
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.board {
    background-color: #B99B69;
    width: 100%;
    margin-top: 3rem;
    height: 30rem;
}

.texting-space {
    margin-top: 1.5rem;
    width: 95%;
    height: 90%;
    background-color: #152D2E;
    text-align: center;
}

.texting-space h1 {
    color: white;
}

.texting-space a {
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 3rem;
}

.informing-texts {
    margin-top: 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.informing-texts a {
    color: black;
    font-size: 30px;
    font-weight: lighter;
}

.eraser {
    width: 4rem;
    height: 1rem;
    background-color: white;
    margin-top: 27.5rem;
    margin-left: 17rem;
    position: absolute;
}

.pen {
    width: 5rem;
    height: 2rem;
    background-color: #5d7772;
    margin-top: 26.5rem;
    margin-left: 29.5rem;
    position: absolute;
}